html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #E0F7FA;
  font-family: "Roboto"; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

h2 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.84);
  margin: 20px 0px 20px 0px; }

.input {
  border: 0; }
  .input:focus {
    outline: none; }

.button {
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  padding: 0px 20px 0px 20px; }

.blue-button {
  position: relative;
  background: #26C6DA;
  border-bottom: 1px solid #00ACC1;
  color: white; }
  .blue-button:hover {
    background: #00BCD4; }
  .blue-button:active {
    top: 1px; }

h4 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500; }

.more {
  width: 48px;
  height: 48px;
  margin: 20px auto;
  background-size: cover;
  background: url(../images/more.svg) no-repeat;
  cursor: pointer; }

.field {
  width: 200px;
  height: 30px;
  background: #ECECEC;
  margin-top: 10px;
  padding-left: 10px; }

.select {
  width: 210px;
  height: 32px;
  border: 0; }

#advert {
  margin-top: 80px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); }

.adverts li {
  display: inline-block;
  width: 300px;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 10px 20px 0px 0px;
  overflow: hidden;
  vertical-align: top; }
  .adverts li:nth-child(3n) {
    margin-right: 0px; }
  .adverts li .content-area {
    padding: 20px;
    text-align: left; }
    .adverts li .content-area .button {
      display: block;
      margin: 20px auto 0px; }
  .adverts li .image-container {
    position: relative; }
    .adverts li .image-container img {
      position: relative;
      z-index: 1;
      width: 100%; }
    .adverts li .image-container .load {
      width: 48px;
      height: 48px;
      background: url(../images/spin.svg);
      background-size: 48px 48px;
      margin: 40px auto 40px; }

#adverts {
  margin-top: 60px;
  margin-bottom: 40px; }
  #adverts .search-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    margin: 80px 0px 20px 0px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); }
  #adverts .adverts {
    text-align: left; }

.header .head {
  width: 100%;
  height: 500px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: 0% 45%;
  margin-top: 60px; }

.menu {
  z-index: 3;
  width: 100%;
  height: 60px;
  background: #26C6DA;
  position: fixed;
  top: 0; }
  .menu ul {
    width: 960px;
    margin: 0 auto;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .menu ul li {
      display: inline;
      line-height: 60px;
      margin-right: 20px;
      cursor: pointer; }
      .menu ul li a {
        font-size: 18px;
        color: white;
        text-decoration: none; }
        .menu ul li a:hover {
          text-decoration: underline; }

.home {
  margin-top: 50px; }

.adverts {
  text-align: center; }
  .adverts h4 span {
    float: right;
    color: #EF5350; }

.all-adverts {
  display: block;
  margin: 40px auto 40px; }
