.adverts {
	li {
		display: inline-block;
		width: 300px;
		background: white;
		border-radius: 2px;
		box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
		margin: 10px 20px 0px 0px;
		overflow: hidden;
		vertical-align: top;
		&:nth-child(3n) {
			margin-right: 0px;
		}
		.content-area {
			padding: 20px;
			text-align: left;
			.button {
				display: block;
				margin: 20px auto 0px;
			}
		}
		.image-container {
			position: relative;
			img {
				position: relative;
				z-index: 1;
				width: 100%;
			}
			.load {
				width: 48px;
				height: 48px;
				background: url(../images/spin.svg);
				background-size: 48px 48px;
				margin: 40px auto 40px;
			}
		}
	}
}

#adverts {
	margin-top: 60px;
	.search-container {
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		background: white;
		margin: 80px 0px 20px 0px;
		box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	}
	.adverts {
		text-align: left;
	}
	margin-bottom: 40px;
}