body {
	background: $bodyColor;
	font-family: "Roboto";
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

h2 {
	font-size: 32px;
	color: rgba(0, 0, 0, 0.84);
	margin: 20px 0px 20px 0px;
}

.input {
	border: 0;
	&:focus {
		outline: none;
	}
}

.button {
	height: 40px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 16px;
	padding: 0px 20px 0px 20px;
}

.blue-button {
	position: relative;
	background: #26C6DA;
	border-bottom: 1px solid #00ACC1;
	color: white;
	&:hover {
		background: #00BCD4;
	}
	&:active {
		top: 1px;
	}
}

h4 {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.54);
	font-weight: 500; 
}

.more {
	width: 48px;
	height: 48px;
	margin: 20px auto;
	background-size: cover;
	background: url(../images/more.svg) no-repeat;
	cursor: pointer;
}

.field {
	width: 200px;
	height: 30px;
	background: $fieldColor;
	margin-top: 10px;
	padding-left: 10px;
}

.select {
	width: 210px;
	height: 32px;
	border: 0;
}