.header {
	.head {
		width: 100%;
		height: 500px;
		background-image: url(../images/header.jpg);
		background-size: cover;
		background-position: 0% 45%;
		margin-top: 60px;
	}
}

.menu {
	z-index: 3;
	width: 100%;
	height: 60px;
	background: #26C6DA;
	position: fixed;
	top: 0;
	ul {
		width: 960px;
		margin: 0 auto;
		cursor: default;
		user-select: none;
		li {
			display: inline;
			line-height: 60px;
			margin-right: 20px;
			cursor: pointer;
			a {
				font-size: 18px;
				color: white;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}