<my-image class="image-container" src="car.image"></my-image>
<div class="content-area">
	<h4>{{car.brandTitle}} {{car.modelTitle}} <span>{{car.price}} р.</span></h4>
	<button class="input button blue-button" ui-sref="advert({advertId: car.advertId})">Смотреть</button>
</div> 