<div id="adverts" class="wrapper">
	<div class="search-container">
		<input type="text" class="input field" placeholder="Строка для поиска" ng-model="adverts.query">
		<input type="text" class="input field" ng-model="adverts.searchSettingsForPrice.min" placeholder="Минимальная цена">
		<input type="text" class="input field" ng-model="adverts.searchSettingsForPrice.max" placeholder="Максимальная цена">
		<input type="text" class="input field" ng-model="adverts.searchSettingsForYear.min" placeholder="Год от">
		<input type="text" class="input field" ng-model="adverts.searchSettingsForYear.max" placeholder="Год до">
		<select class="field select" ng-model="adverts.searchSettings.brandId" ng-options="brand.brandId as brand.brandTitle for brand in adverts.data.brands"></select>
		<select class="field select" ng-model="adverts.searchSettings.modelId" ng-options="model.modelId as model.modelTitle for model in adverts.data.models | filter:{brandId: adverts.searchSettings.brandId}"></select>
	</div>

	<ul class="adverts">
		<li ng-repeat="car in (result = (adverts.data.cars | filter:adverts.searchSettings | filter:adverts.query | compare: adverts.searchSettingsForPrice | compare: adverts.searchSettingsForYear) | limitTo: adverts.limit)">
			<ng-include src="'templates/elements/advert.html'"></ng-include>
		</li>
	</ul>
	<div class="more" ng-if="result.length > adverts.limit" ng-click="adverts.getMore()"></div>

	<div ng-if="result.length === 0">Результатов нет</div>
</div>