<div class="wrapper">
	<div id="advert">
		<ul>
			<li>Марка: {{advert.data.advert.brandTitle}}</li>
			<li>Модель: {{advert.data.advert.modelTitle}}</li>
			<li>Цена: {{advert.data.advert.price}}</li>
			<li>Год: {{advert.data.advert.year}}</li>
		</ul>
	</div>
</div>