<div class="header">
	<div class="head"></div>
</div>
<div class="wrapper home">
	<h2>Последние объявления</h2>
	<ul class="adverts">
		<li ng-repeat="car in home.data.cars | orderBy: 'date' | limitTo: 3">
			<ng-include src="'templates/elements/advert.html'"></ng-include>	
		</li>
	</ul>

	<button class="input button blue-button all-adverts" ui-sref="adverts()">Все объявления</button>
	
	<h2>Популярные объявления</h2>
	<ul class="adverts">
		<li ng-repeat="car in home.data.cars | orderBy: 'count' | limitTo: 3">
			<ng-include src="'templates/elements/advert.html'"></ng-include>
		</li>
	</ul>

	<button class="input button blue-button all-adverts" ui-sref="adverts()">Все объявления</button>
</div>